@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

* {
  font-family: "Josefin Sans", sans-serif;
}

.custom-pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 50px;
}

.custom-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: white !important;
  opacity: 0.5;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.custom-pagination .swiper-pagination-bullet-active {
  opacity: 1;
  transform: scale(1.2);
}


/* Dots color + bottom position */
.swiper-pagination {
  bottom: 0 !important;
  /* force dots at bottom */
}

.swiper-pagination-bullet {
  background: #C62828 !important;
  opacity: 0.4;
  width: 10px;
  height: 10px;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  transform: scale(1.2);
}







@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  width: calc(200%); /* doubled content for smooth loop */
  animation: scroll 10s linear infinite;
}
